In [1]:
import pandas as pd

In [8]:
# Load the data
df = pd.read_csv('../dataset/Life_Expectancy_Data.csv')

In [9]:
# Clean the data
df = df.dropna(subset=['Life expectancy', 'GDP', 'Population'])

In [10]:
# Select only the relevant columns
bubble_chart_data = df[['Life expectancy', 'GDP', 'Population']]

In [11]:
bubble_chart_data.head()

   Life expectancy         GDP  Population
0             65.0  584.259210  33736494.0
1             59.9  612.696514    327582.0
2             59.9  631.744976  31731688.0
3             59.5  669.959000   3696958.0
4             59.2   63.537231   2978599.0

In [12]:
bubble_chart_data.to_csv('../data/bubble_chart_data.csv', index=False)