In [1]:
import pandas as pd

In [2]:
# Load the data
df = pd.read_csv('../dataset/Life_Expectancy_Data.csv')

In [3]:
# Clean the data ('Life Expectancy' and 'Country')
df = df.dropna(subset=['Life expectancy', 'Country'])

In [4]:
# Aggregate the data by country
average_life_expectancy_by_country = df.groupby('Country')['Life expectancy'].mean().reset_index()

In [5]:
average_life_expectancy_by_country.head()

               Country  Life expectancy
0          Afghanistan         58.19375
1              Albania         75.15625
2              Algeria         73.61875
3               Angola         49.01875
4  Antigua and Barbuda         75.05625

In [6]:
average_life_expectancy_by_country.to_csv('../data/average_life_expectancy_by_country.csv', index=False)