In [1]:
import pandas as pd

In [2]:
# Load the data
df = pd.read_csv('../dataset/Life_Expectancy_Data.csv')

In [3]:
# Clean the data
df = df.dropna(subset=['Year', 'Life expectancy'])

In [4]:
# Convert 'Year' to an integer
df['Year'] = df['Year'].astype(int)
# Aggregate the data by year
stats_by_year = df.groupby('Year')['Life expectancy'].agg(['min', 'mean', 'max']).reset_index()

In [5]:
# Rename the columns for clarity
stats_by_year.rename(columns={'min': 'Min Life Expectancy', 'mean': 'Average Life Expectancy', 'max': 'Max Life Expectancy'}, inplace=True)

In [8]:
# Sort the data by year
stats_by_year = stats_by_year.sort_values(by='Year')

In [10]:
stats_by_year.head()

   Year  Min Life Expectancy  Average Life Expectancy  Max Life Expectancy
0  2000                 39.0                66.750273                 81.1
1  2001                 41.0                67.128962                 82.0
2  2002                 44.0                67.351366                 84.0
3  2003                 41.5                67.433333                 87.0
4  2004                 42.3                67.646448                 89.0

In [12]:
# Save to a new CSV file
stats_by_year.to_csv('../data/stats_by_year.csv', index=False)