In [1]:
import pandas as pd

In [2]:
# Load the data
df = pd.read_csv('../dataset/Life_Expectancy_Data.csv')

In [4]:
# Clean the data - remove rows where either 'Life Expectancy' or 'GDP' is missing
df = df.dropna(subset=['Life expectancy', 'GDP'])

In [5]:
# Select only the relevant columns
scatter_data = df[['Year', 'Life expectancy', 'GDP']]

In [6]:
scatter_data.head()

   Year  Life expectancy         GDP
0  2015             65.0  584.259210
1  2014             59.9  612.696514
2  2013             59.9  631.744976
3  2012             59.5  669.959000
4  2011             59.2   63.537231

In [7]:
scatter_data.to_csv('../data/life_expectancy_vs_gdp_all_years.csv', index=False)